@font-face {
  font-family: 'BergenText-Regular';
    src: url('../../assets/fonts/bergen-text.eot');
    src: url('../../assets/fonts/bergen-text.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/bergen-text.woff2') format('woff2'),
        url('../../assets/fonts/bergen-text.woff') format('woff'),
        url('../../assets/fonts/bergen-text.ttf') format('truetype'),
        url('../../assets/fonts/bergen-text.svg#wf') format('svg');
}
