.navigation {
  max-width: 700px;
}

.navigation__item {
  display: inline-block;

  background-color: $green;

  &.filter-inactive {
    background-color: transparent;
  }

  &:hover {
    background-color: $black;
  }
}

.navigation__item--main {
  background-color: $blue;
}

.navigation__item--page {
  display: inline-block;

  background-color: $white;
}

.navigation__item--link {
  background-color: $yellow;
}

.navigation__item-link {
  display: block;

  padding: $page-margin;
}
