$_project-width: $page-min-width;
$_project-image-height: 240px;

.project {
  display: inline-block;

  width: $_project-width;

  vertical-align: top;

  &.filter-inactive {
    display: none;
  }
}

.project__image {
  width: $_project-width;
  height: $_project-image-height;

  background-color: $black;

  object-fit: cover;
}

.project__title {
  min-height: 105px;

  padding: $page-margin;
  padding-bottom: 0;
}

.project__description {
  padding: $page-margin;
  padding-bottom: $page-margin * 2;
}
