<ul class="navigation">
  <li class="navigation__item navigation__item--category">Kategorie</li>
  <li class="navigation__item"><a href="/">Home</a></li>
  <li class="navigation__item"><a href="/test">Test</a></li>
  <li class="navigation__item"><a href="/about">Spontanfilmfestival</a></li>
  <li class="navigation__item"><a href="/">Test-Title</a></li>
  <li class="navigation__item navigation__item--category">Test</li>
  <li class="navigation__item"><a href="/test">VERANTWORTUNG 3000</a></li>
  <li class="navigation__item"><a href="/about">About</a></li>
  <li class="navigation__item"><a href="/">Home</a></li>
  <li class="navigation__item"><a href="/test">Kubismus</a></li>
  <li class="navigation__item"><a href="/about">About</a></li>
</ul>
