.content {
  overflow-x: hidden;
  overflow-y: auto;

  height: 100%;

  padding-right: $slider-offset * -4;
  padding-left: $slider-offset * -2;

  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
