.header {
  margin-top: $layout-border-spacing;
}

.header__heading,
.header__subheading {
  max-width: 320px;

  margin: 0 auto;

  letter-spacing: 1px;

  text-align: center;
  text-transform: uppercase;
}

.header__heading {
  padding-bottom: $layout-spacing;
}

.header__subheading {
  padding-top: $layout-spacing;

  font-weight: $font-weight-regular;
}
