.image {
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

.image--full {
  height: 100%;

  background-repeat: repeat;
}

@media (max-width: 1280px) {
  .image {
    background-size: $mobile-breakpoint;
  }
}

@media (max-width: $mobile-breakpoint) {
  .image {
    background-size: contain;
  }
}

.image--loading {
  background-image: url('/assets/images/spinner.gif');
  background-repeat: no-repeat;
  background-size: 24px;
}
