.navigation {
  max-width: 720px;

  margin: $layout-spacing auto;

  text-align: center;

  li {
    display: inline-block;

    margin-right: 25px;

    letter-spacing: 1px;
  }

  strong {
    text-transform: uppercase;
  }
}
