* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
    font-smoothing: antialiased;

    tap-highlight-color: $black;

    text-rendering: optimizeLegibility;
  }
}

::selection {
  color: $white;
  background-color: $black;

  text-shadow: none;
}

html,
body {
  height: 100%;

  font-weight: $font-weight-regular;
  font-size: $font-size-regular;
  font-family: $font-family-regular;

  line-height: 1.45;
}

a {
  color: $black;

  text-decoration: none;

  &:hover {
    background-color: $black;
  }
}
