// colors

$black: #000;
$white: #fff;

// fonts

$font-family-regular: 'Roboto Mono', monospace;

$font-weight-regular: 400;
$font-weight-heavy: 700;

$font-size-regular: 16px;

$font-size-h1: 38px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 22px;
$font-size-h5: 18px;
$font-size-h6: 16px;

// layout

$layout-spacing: 30px;
$layout-border-spacing: 80px;

// components

$slider-offset: -5%;
