// colors

$black: #000;
$gray: #eee;
$white: #fff;

$green: #9ea;
$blue: #03f;
$yellow: #ee3;

// fonts

$font-family: 'BergenText-Regular', sans-serif;
$font-weight: 400;
$font-size: 28px;

// line heights

$line-height: 1.3;

// layout

$page-min-width: 320px;
$slider-offset: -5%;
$page-margin: 30px;
